<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

        <a class="navbar-brand" routerLink="/home"> فروشگاه سالار</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item active">
                    <a routerLink="/home" routerLinkActive="active" class="nav-link">
                        صفحه اصلی
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a routerLink="/about" routerLinkActive="active" class="nav-link">
                        درباره ما
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a routerLink="/contact" routerLinkActive="active" class="nav-link">
                        ارتباط با ما
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a routerLink="/display-logs" routerLinkActive="active" class="nav-link">
                        لاگ های سیستم
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a routerLink="/test-log-manager" routerLinkActive="active" class="nav-link">
                        تست مدیریت لاگ
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a routerLink="/login" routerLinkActive="active" class="nav-link">
                        ورود
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/darivari" >دری وری</a>
                        <a class="dropdown-item" routerLink="">Redirect</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search">
                <button class="btn btn-outline-info" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>

        </div>
    </div>
</nav>