/* You can add global styles to this file, and also import other style files */

a.nav-link {
    color: #c0c0c0 !important;
    font-weight: 400 !important;
}

a.active {
    color: #ffffff !important;
    font-weight: 600 !important;
}

.ng-valid[required],
.ng-valid.required{
    border-left: 5px solid #42A948;
}

.ng-valid:not(form){
    border-left: 5px solid #A94442;
}